.subTitle {
  color: #8591a8;
}
button {
  background: none;
  border: none;
  border: 1px solid black;
  &:hover {
    cursor: pointer;
  }
}
.postBtn {
  margin: 20px;
  padding: 2px 18px;
  &:hover {
    cursor: pointer;
  }
}
.deleteBtn {
  color: red;
  padding: 2px 18px;
  &:hover {
    cursor: pointer;
  }
}
.fliterBtn {
  margin: 20px;
  padding: 2px 18px;
}
.loader {
  position: absolute;
  left: 50%;
  top: 27%;
}
